server:
  port: ${SERVER_PORT}

spring:
  application:
    name: DVFashion
# Database
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
# Hibernate
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        show_sql: true
        format_sql: true

  security:
    oauth2:
        client:
          registration:
            google:
              client-id: ${GOOGLE_CLIENT_ID}
              client-secret: ${GOOGLE_CLIENT_SECRET}
              scope:
                - profile
                - email
              redirect-uri: ${BACKEND_URL}/login/oauth2/code/{registrationId}
          provider:
            google:
              authorization-uri: https://accounts.google.com/o/oauth2/auth
              token-uri: https://oauth2.googleapis.com/token
              user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
              user-name-attribute: sub
oauth2:
  redirect-uris:
    success: ${FRONTEND_URL:http://localhost:5173}/oauth2/redirect
    failure: ${FRONTEND_URL:http://localhost:5173}/oauth2/redirect?error=true

logging:
  level:
    org:
      hibernate:
        sql: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE

# Base path for the API
web:
  base-path: /api/v1

# Security
jwt:
  signed-key: ${JWT_SIGNED_KEY}
  expiration: ${JWT_EXPIRATION}
  refresh-expiration: ${JWT_REFRESH_EXPIRATION}